In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv('Fertilizer Prediction.csv')
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...,...,...
94,25,50,32,Clayey,Pulses,24,0,19,28-28
95,30,60,27,Red,Tobacco,4,17,17,10-26-26
96,38,72,51,Loamy,Wheat,39,0,0,Urea
97,36,60,43,Sandy,Millets,15,0,41,DAP
98,29,58,57,Black,Sugarcane,12,0,10,20-20

In [21]:
soiltype = {'Sandy': 0, 'Loamy': 1, 'Black': 2, 'Red': 3, 'Clayey': 4}

In [22]:
croptype = {
  'Maize': 0,
  'Sugarcane': 1,
  'Cotton': 2,
  'Tobacco': 3,
  'Paddy': 4,
  'Barley': 5,
  'Wheat': 6,
  'Millets': 7,
  'Oil seeds': 8,
  'Pulses': 9,
  'Ground Nuts': 10
}

In [23]:
fertilizername = {
  'Urea': 0,
  'DAP': 1,
  '14-35-14': 2,
  '28-28': 3,
  '17-17-17': 4,
  '20-20': 5,
  '10-26-26': 6
}

In [24]:
soiltype = {
  'Sandy': 0,
  'Loamy': 1,
  'Black': 2,
  'Red': 3,
  'Clayey': 4
}

In [25]:
df['Crop Type'] = df['Crop Type'].map(croptype)
df['Fertilizer Name'] = df['Fertilizer Name'].map(fertilizername)
df['Soil Type'] = df['Soil Type'].map(soiltype)

In [26]:
df

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,0,0,37,0,0,0
1,29,52,45,1,1,12,0,36,1
2,34,65,62,2,2,7,9,30,2
3,32,62,34,3,3,22,0,20,3
4,28,54,46,4,4,35,0,0,0
...,...,...,...,...,...,...,...,...,...
94,25,50,32,4,9,24,0,19,3
95,30,60,27,3,3,4,17,17,6
96,38,72,51,1,6,39,0,0,0
97,36,60,43,0,7,15,0,41,1
98,29,58,57,2,1,12,0,10,5

In [27]:
y = df['Fertilizer Name'].copy()
X = df.drop(['Fertilizer Name'],axis=1).copy()

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,shuffle=True,random_state=1)

In [35]:
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score, classification_report

# Assuming X_train, X_test, y_train, y_test are already defined
# Initialize lists to store accuracies
acc = []
acc1 = []
model = []

# Normalize the data
norm = MinMaxScaler().fit(X_train)
X_train_norm = norm.transform(X_train)
X_test_norm = norm.transform(X_test)

# Initialize and train the SVM model
SVM = SVC(kernel='poly', degree=3, C=1)
SVM.fit(X_train_norm, y_train)

# Predict on test data
predicted_values = SVM.predict(X_test_norm)
x = accuracy_score(y_test, predicted_values)
acc.append(x)

# Predict on training data
predicted_values_train = SVM.predict(X_train_norm)
y = accuracy_score(y_train, predicted_values_train)
acc1.append(y)

model.append('SVM')
print("SVM's Accuracy on Test Data is: {:.2f}%".format(x * 100))
print("SVM's Accuracy on Training Data is: {:.2f}%".format(y * 100))

print("Classification Report on Test Data:")
print(classification_report(y_test, predicted_values))

SVM's Accuracy on Test Data is: 90.00%
SVM's Accuracy on Training Data is: 100.00%
Classification Report on Test Data:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       1.00      1.00      1.00         5
           2       0.80      0.80      0.80         5
           3       0.75      1.00      0.86         3
           4       1.00      0.67      0.80         3
           5       1.00      1.00      1.00         4
           6       0.67      0.67      0.67         3

    accuracy                           0.90        30
   macro avg       0.89      0.88      0.87        30
weighted avg       0.91      0.90      0.90        30